
@{
    Layout = "../Shared/_homelayout.cshtml";
}

<section class="about_section ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-7">
                <div class="img-box">
                    <img src="~/home/images/about-img.png" alt="" />
                </div>
            </div>
            <div class="col-md-5 col-xl-5">
                <div class="detail_box">
                    <div class="heading_container justify-content-end">
                        <h2>
                            About Flowers
                        </h2>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since ever since
                        ever since
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end about section -->
<!-- info section -->
<section class="info_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_logo">
                    <h5>
                        Floralr
                    </h5>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_links pl-lg-5">
                    <h5>
                        Useful Link
                    </h5>
                    <ul>
                        <li>
                            <a href="@Url.Action("Home","Customer")">
                                Home
                            </a>
                        </li>
                        <li class="active">
                            <a href="@Url.Action("About","Customer")">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Gallery","Customer")">
                                Bouquets
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact","Customer")">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_insta">
                    <h5>
                        Instagram
                    </h5>
                    <div class="insta_container">
                        <div>
                            <a href="">
                                <div class="insta-box b-1">
                                    <img src="~/home/images/insta-1.png" alt="">
                                </div>
                            </a>
                            <a href="">
                                <div class="insta-box b-2">
                                    <img src="~/home/images/insta-2.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <div class="insta-box b-3">
                                    <img src="~/home/images/insta-3.png" alt="">
                                </div>
                            </a>
                            <a href="">
                                <div class="insta-box b-4">
                                    <img src="~/home/images/insta-4.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <div class="insta-box b-3">
                                    <img src="~/home/images/insta-5.png" alt="">
                                </div>
                            </a>
                            <a href="">
                                <div class="insta-box b-4">
                                    <img src="~/home/images/insta-6.png" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_contact">
                    <h5>
                        Contact
                    </h5>
                    <div>
                        <img src="~/home/images/location-white.png" alt="">
                        <p>
                            Aptech Metro Stargate
                        </p>
                    </div>
                    <div>
                        <img src="~/home/images/telephone-white.png" alt="">
                        <p>
                            +923343626807
                        </p>
                    </div>
                    <div>
                        <img src="~/home/images/envelope-white.png" alt="">
                        <p>
                            floral@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>